header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
}

body {
    color: #666666;
    background-color: #f9f8f6;
    /* background-image: url("images/dark-wood.jpg");*/
    background-position: center;
    font-family: Georgia, times, serif;
    line-height: 1.4em;
    margin: 0px;
}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #c3cdc2;
}

header {
    height: 70px;
    background: #00699D;
    border: 1px solid #CCC;
    /* width:960px;*/
    margin: 0px auto;

   /* background-repeat: inherit;*/
    background: -webkit-linear-gradient(left,rgba(255,0,0,0),#3180AE); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,0,0,0),#3180AE); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,0,0,0),#3180AE); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255,0,0,0), #3180AE); /*Standard*/
}

menu {
    align-self: auto;
    position: absolute;
}

h1 {
    /* text-indent: -9999px;*/
    width: 940px;
    height: 30px;
    margin: 0px;
    color: #de6581;
    font-size: 20px;
    font-family: sans-serif;
}

nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav li a {
    color: #ffffff;
}

nav li a:hover, nav li a.current {
    color: #000000;
}

section.courses {
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;
}

article {
    clear: both;
    overflow: auto;
    width: 100%;
}

figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}

figcaption {
    font-size: 90%;
    text-align: left;
}

aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}

aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}

aside section a:hover {
    color: #985d6a;
    background-color: #efefef;
}

a {
    color: #de6581;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 100;
}

h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
}

h3 {
    margin: 0px 0px 10px 0px;
    color: #de6581;
}

aside h2 {
    padding: 30px 0px 10px 0px;
    color: #de6581;
}

form fieldset {
    /*  background: #9cbc2c;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #265a88;
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;

    /* margin-top: auto;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: auto;*/
}

form fieldset legend {
    color: #384313;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
    width: auto;
    border-bottom: none;

}

/*form#payment > fieldset > legend:before {
    content: "Step " counter(fieldsets) ": ";
    counter-increment: fieldsets;
}
form#payment fieldset fieldset legend {
    color: #111111;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 0;
}*/
label {
    float: left;
    font-size: 14px;
    width: 180px;
    color: #3c3c3c;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: normal;
}

list {
    color: gray;
    width: auto;
    position: absolute;
}

list li a {
    color: #00699D;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*background-color: #f1f1f1;*/
    width: auto;

}

li  {
    background-color: #DBE7EF;
    border: 1px solid;
    border-color: #FBFBFB;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none !important;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    font-size: 14px;
    font-family: "Times New Roman";
    font-style: normal;
    color: #080808;
    border-color: gray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid;

}

.form-group {
    margin-bottom: 10px;
    float: left;
    padding-right: 21px;
}

.resizeContainer {

}

.resizeBody {

    margin-left: 280px;
}

.login{
    width: 460px;
    margin-top: 0px;
    margin-left: 255px;
    padding-left: 70px;
    height: 280px;
}
.login input[type="text"],
input[type="password"]{
    width: 288px;
    margin-left: 0px;
    padding-left: 0;
    height: 40px;
    margin-bottom: 20px;
}
footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;
    background: red; /* For browsers that do not support gradients */

}